Package: com.wyattgahm.librelic
Name: librelic
Depends: mobilesubstrate (>= 0.9.5.000)
Version: 2.1.1
Architecture: iphoneos-arm
Description: library for Snapchat hooking
Maintainer: no5up + Kanji
Author: no5up + Kanji
Section: Development
